.myCard {
  margin-top: 10px;
  text-align: center;
}
.myCard > div{
  display: flex;
  justify-content: center;

}
.myCard button {
  margin-top: 40px;
  cursor: pointer;
  padding: 20px 40px;
  font-size: 20px;
}
.card {
  vertical-align: top;
}
